body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  display: flex; /* Используем flexbox для центрирования */
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  height: 100dvh; /* Задаем высоту в 100% от высоты окна */
}

.container {
  width: 60dvw;
  height: 40dvh;
  max-width: 500px;
  padding: 20px;
  background-color: #202020;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  color: #505050;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-top: 100;
}

input[type="text"],
/* input[type="email"], */
input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="text"]:focus,
/* input[type="email"]:focus, */
input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.button{
  outline: none;
}

button:hover {
  background-color: #202020;
}
.button.no-hover {
  background-color: #b60606;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}

.header {
  margin-bottom: 20px; /* Отступ снизу */
  color: #505050; /* Цвет заголовка */
  text-align: center; /* Центрируем текст заголовка */
}

.label {
  margin-bottom: 10px; /* Отступ снизу */
  color: #ffffff; /* Цвет метки */
}

.select {
  margin-bottom: 20px; /* Отступ снизу */
  padding: 10px; /* Отступ внутри выпадающего списка */
  border-radius: 4px; /* Закругление углов */
}

.list {
  list-style-type: none; /* Убираем маркеры */
  padding: 0; /* Убираем отступы */
}

.list-item {
  cursor: pointer; /* Указатель курсора при наведении */
  margin-bottom: 10px; /* Отступ между элементами списка */
  color: #ffffff; /* Цвет текста списка */
}

.radio-group {
  display: flex; /* Используем flexbox для горизонтального расположения */
  gap: 20px; /* Добавляем промежуток между радиокнопками */
  margin-bottom: 20px; /* Отступ снизу для отделения от других элементов */
  /* color: #a04141 */
}

.container_2 {
  width: 100vw;
  height: 70dvh;
  max-width: 500px;
  padding: 20px;
  background-color: #202020;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.css-1mzvvpl-MuiPieArc-root { stroke-width: 0 }


.MuiChartsLegend-root {justify-content: left; display: flex; }
