@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  display: flex; /* Используем flexbox для центрирования */
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  height: 100dvh; /* Задаем высоту в 100% от высоты окна */
}

.container {
  width: 60dvw;
  height: 40dvh;
  max-width: 500px;
  padding: 20px;
  background-color: #202020;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_3 {
  width: 100dvw;
  height: 50dvh;
  padding: 20px;
  background-color: #202020;
  color:"#fff";
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}


h2 {
  text-align: center;
  color: #505050;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-top: 100;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}
*/ button {
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.button {
  outline: none;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}

.header {
  margin-bottom: 20px; /* Отступ снизу */
  color: #505050; /* Цвет заголовка */
  text-align: center; /* Центрируем текст заголовка */
}

.label {
  margin-bottom: 10px; /* Отступ снизу */
  color: #ffffff; /* Цвет метки */
}

.select {
  margin-bottom: 20px; /* Отступ снизу */
  padding: 10px; /* Отступ внутри выпадающего списка */
  border-radius: 4px; /* Закругление углов */
}

.list {
  list-style-type: none; /* Убираем маркеры */
  padding: 0; /* Убираем отступы */
}

.list-item {
  cursor: pointer; /* Указатель курсора при наведении */
  margin-bottom: 10px; /* Отступ между элементами списка */
  color: #ffffff; /* Цвет текста списка */
}

.radio-group {
  display: flex; /* Используем flexbox для горизонтального расположения */
  gap: 20px; /* Добавляем промежуток между радиокнопками */
  margin-bottom: 20px; /* Отступ снизу для отделения от других элементов */
  /* color: #a04141 */
}

.container_2 {
  width: 100vw;
  height: 75dvh;
  max-width: 500px;
  padding: 20px;
  background-color: #202020;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.css-1mzvvpl-MuiPieArc-root {
  stroke-width: 0;
}

.MuiChartsLegend-root {
  justify-content: left;
  display: flex;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h8 {
  font-size: 3.2em;
  line-height: 1.1;
  color:"fff";
  backgroundColor:"fff";
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* RESET */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	height: 100vh;
}

@layer components {
	.preferenceBtn {
		@apply relative rounded px-3 py-1.5 font-medium items-center transition-all focus:outline-none inline-flex  ml-auto p-1 mr-2 hover:bg-dark-fill-3;
	}

	.preferenceBtn-tooltip {
		@apply absolute w-auto p-2 text-sm m-2  min-w-max translate-x-3  right-0 top-5 z-10 rounded-md shadow-md
		text-dark-layer-2 bg-gray-200  origin-center scale-0 transition-all duration-100 ease-linear group-hover:scale-100;
	}
}

/* dark  scrollbar */
::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #282828;
}

::-webkit-scrollbar-thumb {
	background: #4d4d4d;
}

/* CODE EDITOR*/
.cm-scroller,
.cm-gutters {
	background-color: #282828 !important;
}
.cm-focused {
	outline: none !important;
}

/* .split {
	display: flex;
	flex-direction: row;
}

.gutter {
	background-color: rgb(26, 26, 26);
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter:hover {
	background-color: #0a84ff;
}

.gutter.gutter-horizontal {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
	cursor: col-resize;
}

.gutter.gutter-vertical {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
	cursor: row-resize;
} */

.custom-gutter-horizontal {
  padding: 0 2px;
  height: 100%;
  background: #1a1a1a;
  flex-direction: row;
}

.custom-gutter-vertical {
  padding: 2 0px;
  width: 100%;
  background: #1a1a1a;
  flex-direction: row;
}

.custom-gutter-horizontal:hover {
  cursor: col-resize;
}

.custom-gutter-vertical:hover {
  cursor: col-resize;
}

.custom-dragger-horizontal {
  background: #434252;
  display: block;
  border-radius: 2px;
  width: 24px;
  height: 4px;
}

.custom-dragger-vertical {
  background: #434252;
  display: block;
  border-radius: 2px;
  width: 24px;
  height: 4px;
}

.tile-x {
  height: 100%;
  width: 100%;

  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 8px;
  background: #121114;

  overflow-x: auto;
}

.tile-y {
  height: 100%;
  width: 100%;

  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-top;

  border-radius: 8px;
  background: #121114;

  overflow-y: auto;
}


code {
	border-radius: 5px;
	border-width: 1px;
	font-family: sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1rem;
	padding: 0.125rem;
	letter-spacing: 1px;
	white-space: pre-wrap;
	background-color: hsla(0, 0%, 100%, 0.07);
	border-color: rgba(247, 250, 255, 0.12);
	color: rgba(239, 241, 246, 0.75);
}

.example-card pre {
	background-color: hsla(0, 0%, 100%, 0.1);
	border-radius: 0.5rem;
	color: rgba(239, 241, 246, 0.75);
	font-size: 0.98rem;
	line-height: 1.25rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding: 1rem;
	white-space: pre-wrap;
}
.example-card pre strong {
	color: white;
	font-size: 1rem;
}